bidict
blinker
cffi
chardet
click
colorama
dnspython
eventlet
Flask
Flask-SocketIO
gevent
greenlet
gunicorn
h11
itsdangerous
Jinja2
MarkupSafe
packaging
pillow
pip
pycparser
python-engineio
python-socketio
reportlab
setuptools
simple-websocket
waitress
Werkzeug
wsproto
zope.event
zope.interface
