bidict==0.23.1
blinker==1.8.2
cffi==1.16.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
eventlet==0.36.1
Flask==3.0.3
Flask-SocketIO==5.3.6
gevent==23.9.1
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pillow==10.4.0
pip==24.1.2
pycparser==2.22
python-engineio==4.9.1
python-socketio==5.11.3
reportlab==4.2.2
setuptools==72.1.0
simple-websocket==1.0.0
waitress==3.0.0
Werkzeug==3.0.3
wsproto==1.2.0
zope.event==5.0
zope.interface==6.4.post2
